:root {
	--fg: rgb(17, 11, 63);
	--bg: rgb(250, 251, 253);
	--fg-muted: rgb(63, 58, 90);
	--fg-bright: color-mix(in oklab, var(--fg), white 40%);
	--hightlight: rgb(227, 234, 252);
	--corner-radius: 8px;
	--info-background: rgb(255, 253, 250);
	--caution-titlebar-background: color-mix(in oklab, var(--info-background), orange 15%);
	--caution-border: color-mix(in oklab, var(--info-background), chocolate 50%);
	--caution-title: color-mix(in oklab, var(--caution-border), black 30%);
	background-color: white;
}

body {
	color: var(--fg);
	background-color: var(--bg);
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px 5%;
	line-height: 160%;
	font-size: 18px;
	font-family: 'Avenir Light', sans-serif;
}

p {
	color: var(--fg-muted);
	margin: 0 0 12px 0;
}

a, a code {
	color: blue;
	font-weight: bold;
	text-decoration: none;
}

a:hover, a:hover code {
	text-decoration: underline;
}

code {
	display: inline-flex;
	color: var(--fg-bright);
	background-color: var(--hightlight);
	border: 1px solid var(--bg);
	padding: 0 6px 0 6px;
	border-radius: 5px;
}

pre code {
	display: block;
	color: var(--fg-muted);
	background-color: white;
	padding: 15px;
	border-radius: var(--corner-radius);
	border-color: var(--hightlight);
	text-wrap-mode: wrap;
	font-family: 'Courier New', monospace;
}

table{
	background: white;
	width: 100%;
	box-shadow: 0px 0px 20px 2px var(--hightlight);
	border: .5px solid var(--hightlight);
	border-radius: var(--corner-radius);
	border-spacing: 0;
}


thead th {
	text-align: left;
	padding: 20px;
	border-bottom: 2px solid var(--hightlight);
}

tbody td {
	font-size: 18px;
	margin: 0;
	padding: 20px;
}

tbody tr td {
	border-top: 1px solid var(--hightlight);
}

/* Info Box */

.info-box {
	padding: 0;
	margin: 0 0 12px 0;
}

.info-box .titlebar {
	background-color: var(--hightlight);
	border-top-right-radius: var(--corner-radius);
	border-top-left-radius: var(--corner-radius);
}

.info-box p.title {
	margin: 0;
	font-weight: bold;
}


.info-box .body, .info-box .titlebar {
	padding: 10px 20px;
	border: 2px solid var(--hightlight);
}

.info-box .body {
	border-top-style: none;
	border-bottom-right-radius: var(--corner-radius);
	border-bottom-left-radius: var(--corner-radius);
}

.info-box .body p:first-child {
	margin-top: 0;
}

.info-box .body p:last-child {
	margin-bottom: 0;
}

.info-box.advanced > div {
	border-color: var(--fg);
}

.info-box.caution > div {
	border-color: var(--caution-border);
}

.info-box .icon {
	position: relative;
	top: 1px;
	margin-right: 16px;
	fill: var(--fg-bright);
}

.info-box .titlebar p {
	color: var(--fg-bright);
}

.info-box.advanced .icon {
	fill: white;
}

.info-box.advanced, .info-box.caution {
	background-color: var(--info-background);
}

.info-box.advanced .titlebar {
	background-color: var(--fg);
}

.info-box.advanced .titlebar p {
	color: white;	
}

.info-box.caution .titlebar {
	background-color: var(--caution-titlebar-background);
	border-color: var(--caution-border);
}

.info-box.caution .titlebar p {
	color: var(--caution-title);
}

.info-box.caution .icon {
	fill: var(--caution-title);
}

.info-box.advanced code, .info-box.caution code {
	border-color: var(--info-background);
}

.info-box.advanced pre code, .info-box.caution pre code {
	border-color: var(--hightlight);
}

/* Code Highlighting Exported from Rouge::Themes::IgorPro (slightly modified) in Rouge Gem */

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #444444;
}
.highlight .cp {
  color: #CC00A3;
}
.highlight .cs {
  color: #CC00A3;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1 {
  color: var(--caution-border);
}
.highlight .ge {
  font-style: italic;
}
.highlight .ges {
  font-weight: bold;
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .kc {
  color: #C34E00;
}
.highlight .kd {
  color: #0000FF;
}
.highlight .kr {
  color: #007575;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kt, .highlight .kv {
  color: #0000FF;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #009C00;
}
.highlight .sa {
  color: #0000FF;
}
.highlight .nb, .highlight .bp {
  color: #C34E00;
}

.highlight .no {
	color: var(--fg);
	font-family: courier;
}
